<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main_style.css">
</head>
<body>

    <!--Nav -->
    <div class="global-nav">
        <div class="container-nav">
           <nav>
                <ul>
                    <li><a href="#" class="active">Dashboard</a></li>
                    <li><a href="#">Devices</a></li>
                    <li><a href="#">Workflows</a></li>
                    <li><a href="#">Logs</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class ="global">

         <!-- Aside-->
        <aside class="global-aside">
            <div class="container-aside">
                <section class="section-aside">
                    <h1>Section 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                </section>
                <section class="section-aside">
                    <h1>Section 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                </section>
            </div>
            
        </aside>

        <!--Main-->
        <main class="global-main">
            
            <div class="container-main">
                <section class="section-main">
                    <h1>Title</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                </section>
                <section class="section-main">
                    <h2>Subtitle</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                </section>
            </div>

        </main>




    </div>

   


</body>
</html>